<h1>How to Join the Club</h1>
<p>To join the Club you should contact the Secretary, Jean Cobbold, by e-mail: cheamcroquetbowlsclub@gmail.com or phone: 0208642 0533. The Club’s year runs from 1st April. The annual subscription is £75. There is no joining fee.
There is currently a waiting list for croquet membership but not for bowls membership.
</p>
<section>
  <h2>How to get started</h2>
    <p>The only requirement to start with is that you should wear flat-soled shoes in order to avoid damage to the lawn. When you join the Club and start to learn how to play the games you do not need to be involved in any expense as far as equipment is concerned. The Club provides mallets, ball and hoops for croquet and woods for bowls. Once you have decided that you like the game you will probably want to buy your own mallet for croquet or woods for bowls.
When you start playing in matches and external tournaments you will need to get "whites" to play in as this is the accepted norm for matches and tournament play.  </p>
  
<section>
  <h2>An Introduction to Croquet</h2>
    <p>Croquet is one of the very few games where men and women compete on level terms and across the generations from 15 to 90. Many games are played on a handicap basis but social games and some tournaments are played level.

There are two different versions of croquet – Golf Croquet and Association Croquet. Most of our members play Golf Croquet but there is a small group of enthusiastic Association Croquet players which we would like to expand. 

Both versions of the game are played on the same lawn with the same equipment. Both can be played as singles or doubles.
 
In Golf Croquet the players are all on the lawn at the same time and each side plays alternate strokes. The normal game is a 13-point game which means that the first side to win 7 hoops is the winner. Games can also be 7 or 19-point games. A 13-point game normally lasts from 30 – 60 minutes depending on how closely fought it is.
 
Association Croquet is like snooker in that only one player is on the lawn at a time with the opponent(s) sitting watching. A full game is 26 points but 14 or 18-point games are quite common as a 26-point game can take 3 - 4 hours to play.


Further information can be found about the two versions of the game from the Croquet Association’s website through the following links –
<ul>
  <li><a href="http://www.croquet.org.uk/golf/"> www.croquet.org.uk/golf/</a> </li>
  <li><a href="http://www.croquet.org.uk/association/"> www.croquet.org.uk/association/</a> </li> </ul>
  </p>



    
