<header>
  <h1><span class="navigation">
    <span="image"><img src="https://dl.dropboxusercontent.com/u/23490033/CCBC_Logo.png" alt= "CCBC_Logo" height="150"></span>
    <span class="text">Cheams Croquet and Bowls Club </span>
</span> 
</h1>
</header>
