<header>
  <h1><div class="navigation">
    <div class="image"><img src="https://dl.dropboxusercontent.com/u/23490033/CCBC_Logo.png" alt= "CCBC_Logo" height="150"></div>
    <div class="text">Cheams Croquet and Bowls Club </div>
</div> </h>
</header>